.page[b-m24t57gx90] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-m24t57gx90] {
    flex: 1;
}

.sidebar[b-m24t57gx90] {
    background: linear-gradient(180deg, #1565C0 0%, #0D47A1 100%);
}

.top-row[b-m24t57gx90] {
    background-color: #f5f5f5;
    border-bottom: 1px solid #e0e0e0;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

.top-row[b-m24t57gx90]  a, .top-row[b-m24t57gx90]  .btn-link {
    white-space: nowrap;
    margin-left: 1.5rem;
    text-decoration: none;
    color: #00897B;
}

.top-row[b-m24t57gx90]  a:hover, .top-row[b-m24t57gx90]  .btn-link:hover {
    text-decoration: underline;
    color: #1565C0;
}

.top-row[b-m24t57gx90]  a:first-child {
    overflow: hidden;
    text-overflow: ellipsis;
}

.top-row[b-m24t57gx90]  span {
    color: #1565C0;
}

@media (max-width: 640.98px) {
    .top-row[b-m24t57gx90] {
        justify-content: space-between;
    }

    .top-row[b-m24t57gx90]  a, .top-row[b-m24t57gx90]  .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-m24t57gx90] {
        flex-direction: row;
    }

    .sidebar[b-m24t57gx90] {
        width: 280px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-m24t57gx90] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row[b-m24t57gx90], article[b-m24t57gx90] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
